/*
Theme Name: Toolbox
Theme URI: http://wordpress.org/extend/themes/toolbox
Author: Automattic
Author URI: http://automattic.com/
Description: A semantic, HTML5, canvas for CSS artists and an ultra-minimal set of super-clean templates for your own WordPress theme development.
Version: 1.4
License: GNU General Public License
License URI: license.txt
Tags: custom-menu, sticky-post, microformats, rtl-language-support, translation-ready, full-width-template, post-formats

This theme, like WordPress, is licensed under the GPL.
Use it to make something cool, have fun, and share what you've learned with others.
*/

/* make keyframes that tell the start state and the end state of our object */
@-webkit-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
@-moz-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
@keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
 
.fadeIn {
    opacity:0;  /* make things invisible upon start */
    -webkit-animation:fadeIn ease-in 1;  /* call our keyframe named fadeIn, use animattion ease-in and repeat it only 1 time */
    -moz-animation:fadeIn ease-in 1;
    animation:fadeIn ease-in 1;
 
    -webkit-animation-fill-mode:forwards;  /* this makes sure that after animation is done we remain at the last keyframe value (opacity: 1)*/
    -moz-animation-fill-mode:forwards;
    animation-fill-mode:forwards;
 
    -webkit-animation-duration:1s;
    -moz-animation-duration:1s;
    animation-duration:1s;
}
 
.fadeIn {
-webkit-animation-delay: 0.7s;
-moz-animation-delay: 0.7s;
animation-delay: 0.7s;
}

.clearBoth {
	clear: both;
}


/* Landing Page Styles */

*{
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-font-smoothing: antialiased;
	outline: none;
	}


body.page-template-homepage-php {
	background: url('http://www.pulpinkpress.ca/wp-content/themes/toolbox/images/pulpBg.jpg') no-repeat center center fixed ;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  
}

div.container {
	width:900px;
	margin: auto;
	position: relative;
}


div.homeBox {
	text-align: center;
	padding-top: 50px;
	width: 960px;
	height: 400px;
	position: absolute;
	top: 50%;
	left: 50%;
	margin: -300px 0 0 -480px;
}

	div.homeBox h1 {
		font-family: "fanwood";
		font-size: 48px;
		font-weight: 100;
		color: #ffffff;
		text-shadow: 0px 0px 4px #000000;
		font-style: italic;
		-webkit-transform: translate3d(0,0,0);
	}
	
	div.homeBox p {
		font-family: "museo-sans";
		font-size: 18px;
		font-weight: 300;
		color: #ffffff;
		text-shadow: 0px 0px 4px #000000;
		-webkit-transform: translate3d(0,0,0);
	}
	
		div.homeBox p a {
			color: #ffa1f1;
			text-decoration: none;
		}

/* Full Site */

.tall {
	height: 100%;
}

html,body {
	height: 100%;
	width: 100%;
	margin: 0px;
	padding: 0px;
	min-width: 1100px;
}

div#stuckMenu {
	position: fixed;
	top: 0px;
	padding: 16px 0px;
	left: 0px;
	width: 100%;
	background-color: #000;
	z-index: 50;
	color: #fff;
}

	div.menuTop {
		float: right;
		text-align: right;
		width: 500px;
		padding-top: 8px;
	}
	
		div.menuTop a {
			color: #ffffff;
			font-family: "Fanwood";
			text-decoration: none;
			margin-left: 8px;
		}
		
		div.menuTop a:hover {
			color: #e895dc;
		}
	
	div.logoTop {
		float: left;
	}
	
	div.logoTop a{
		font-size: 24px;
		font-family:"Fanwood";
		text-decoration: none;
		color: #ffffff;
		-webkit-transition: all ease-in-out 0.3s;
		-moz-transition: all ease-in-out 0.3s;
	}
	
		div.logoTop a span {
			color: #e895dc;
		}



div#topIntro {
	background: url('/static/img/background1.png') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  width: 100%;
  height: 100%;
  display: block;	
  position: relative;
  margin: 0px;
  padding: 0px;
  z-index: 100;
  min-height: 800px;
}

div.facebookLink {
	position: absolute;
	bottom: 20px;
	right: 0px;
}


	div#topIntro div.logo {
		position: absolute; 
		top: 50px;
		left: 0px;
	}
	
	div#topIntro div.menu {
		font-family: "Fanwood";
		position: absolute;
		top: 80px;
		padding: 0px;
		margin: 0px;
		right: 0px;
	}
	
	div#topIntro div.menu a {
		margin-left: 16px;
		font-size: 20px;
		font-family: "Fanwood";
		text-decoration: none;
		color: #ffffff;
	}
		div#topIntro div.menu a:hover {
			color: #e895dc;
		}
	
div.slogan {
		width: 850px;
		height: 200px;
		position: absolute;
		top: 50%;
		left: 50%;
		margin: -100px 0 0 -425px;
}	
	
	div.slogan h1, div.socialLinks h1, div.contactBox h1{
		color: #ffffff;
		font-family: "Fanwood";
		font-weight: normal;
		font-size: 48px;
		padding: 0px;
		margin: 0px;
		text-align: center;
		font-style: italic;
		-webkit-transform: translate3d(0,0,0);
	}
	
	div.slogan p, div.socialLinks p, div.contactBox p {
		font-family: "museo-sans";
		font-size: 18px;
		color: #ffffff;
		text-align: center;
	}
	
		div.slogan p a, div.socialLinks a {
			color: #e895dc;
			text-decoration: none;
		}
	
div#about {
	padding: 48px 0px;
	height: 100%;
	position: relative;
	width: 100%;
	min-height: 800px;
}

	div.aboutContent {
		width: 900px;
		height: 600px;
		position: absolute;
		top: 50%;
		left: 50%;
		margin: -350px 0 0 -450px;
		}	

div#about h1{
	font-family:"fanwood";
	font-style: italic;
	font-size: 48px;
	font-weight: normal;
}

div#about p {
	font-family: "museo-sans";
	font-size: 18px;
	color: #444444;
	line-height: 30px;
}

div#about p.old {
	font-family: "fanwood";
	font-size: 24px;
	color: #000000;
	line-height: 38px;
}

	div#about p.old span {
		font-style: italic;
	}
	
	div#about p a {
		color: #f287e2;
		text-decoration: none;
	}

div#about img.press {
	float: right;
	margin-left: 36px;
	margin-bottom: 24px;
	margin-top: 100px;
}



div#social {
	background: url('/static/img/background3.png') no-repeat top center fixed ;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  width: 100%;
  height: 100%;
  display: block;	
  position: relative;
  margin: 0px;
  padding: 0px;
  z-index: 0;
 }

div.socialLinks {
		width: 850px;
		height: 200px;
		position: absolute;
		top: 50%;
		left: 50%;
		margin: -125px 0 0 -425px;
		text-align: center;
}

	div.socialLinks img {
		margin: 0px 6px;
		opacity: 0.6;
		-webkit-transition: all ease-in-out 0.3s;
	}
	
	div.socialLinks img:hover {
		cursor: pointer;
		opacity: 1;
	}


div#contact {
	background: url('/static/img/background2.png') no-repeat top center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  width: 100%;
  height: 100%;
  display: block;	
  position: relative;
  margin: 0px;
  padding: 0px;
  z-index: 0;
  min-height: 800px;
}	

div.contactBox {
		width: 500px;
		height: 600px;
		position: absolute;
		top: 50%;
		left: 50%;
		margin: -300px 0 0 0px;
}

	div.contactBox h1, div.contactBox p {
		text-align: left;
		line-height: 30px;
	}
	
	div.contactBox input, div.contactBox textarea {
		background: transparent;
		border: 1px solid #fff;
		padding: 16px;
		border-radius: 8px;
		width: 100%;
		font-family: "Fanwood";
		font-style: italic;
		color: #ffffff;
		font-size: 20px;
		-webkit-transition: all ease-in-out 0.3s;
		-moz-transition: all ease-in-out 0.3s;
	}
	
	div.contactBox input:focus, div.contactBox textarea:focus {
		border: 1px solid #ffffff;
		background-color: rgba(0,0,0,0.2);
	}
	
	div.contactBox input.button {
		border: none;
		background: transparent;
		font-family: fanwood;
		font-size: 30px;
		font-style: italic;
		color: #ffffff;
		cursor: pointer;
		margin-top: -20px;
	}





div#blog {
	width: 100%;
	height: 100%;
	padding-top: 100px;
}

	div.blogPost {
		border-bottom: 1px dotted #ccc;
		padding-bottom: 24px;
		margin-bottom: 36px;
	}

	div.blogDate {
		float: right;
		font-family: "Museo-sans";
		font-size: 14px;
		margin-top: 16px;
	}
	
	div.blogTitle {
		font-size: 36px;
		font-family: "Fanwood";
	}
	
	div.blogContent {
		font-family: "Museo-sans";
		color: #444444;
		font-size: 18px;
	}
	
		div.blogContent p {
			line-height: 30px;
		}
	
		div.blogContent p a {
			color: #f287e2;
			-webkit-transition: all ease-in-out 0.3s;
			-moz-transition: all ease-in-out 0.3s;
			text-decoration: none;
		}
		
			div.blogContent p a:hover {
				color: #000000;
			}


div#footer {
	padding: 24px;
}

div.footLeft {
	float: left;
	width: 40%;
}

	div.footLeft a {
		font-size: 14px;
		font-family: "Fanwood";
		margin-right: 8px;
		color: #000000;
		text-decoration: none;
		-webkit-transition: all ease-in-out 0.3s;
		-moz-transition: all ease-in-out 0.3s;
	}
	
	div.footLeft a:hover {
		color: #e895dc;
	}

div.footRight {
	float: right;
	width: 40%;
	text-align: right;
		font-size: 14px;
		font-family: "Fanwood";
		margin-right: 8px;
		color: #000000;}

	div.footRight a {
		color: #c4a92a;
		text-decoration: none;
		-webkit-transition: all ease-in-out 0.3s;
		-moz-transition: all ease-in-out 0.3s;
	}
	
	div.footRight a:hover {
		color: #000;
	}

/* =Structure
-------------------------------------------------------------- */

body {
	margin: 0px;
	padding: 0px;
}

#page {
	display: block;
	margin: 0px;
}
#primary {
	float: left;
	margin: 0 -240px 0 0;
	width: 100%;
}
#content {
	margin: 0 280px 0 0;
}
#main .widget-area {
	float: right;
	overflow: hidden;
	width: 220px;
}
#colophon {
	clear: both;
	display: block;
	width: 100%;
}


/* Increase the size of the content area for templates without sidebars */
.full-width #content,
.image-attachment #content,
.error404 #content {
	margin: 0;
}

/* Text meant only for screen readers */
.screen-reader-text,
.assistive-text {
	position: absolute !important;
	clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
	clip: rect(1px, 1px, 1px, 1px);
}

/* Alignment */
.alignleft {
	display: inline;
	float: left;
}
.alignright {
	display: inline;
	float: right;
}
.aligncenter {
	clear: both;
	display: block;
	margin-left: auto;
	margin-right: auto;
}


/* =Header
-------------------------------------------------------------- */

#site-title {
	font-size: 2em;
	font-weight: bold;
	margin: .67em 0;
}
#site-description {
	font-size: 1em;
	font-weight: normal;
	margin: 0 0 1em;
}


/* =Menu
-------------------------------------------------------------- */

#access {
	background: #eee;
	display: block;
	float: left;
	margin: 0 auto 1em;
	width: 100%;
}
#access ul {
	list-style: none;
	margin: 0;
	padding-left: 0;
}
#access li {
	float: left;
	position: relative;
}
#access a {
	display: block;
	line-height: 2em;
	padding: 0 1em;
	text-decoration: none;
}
#access ul ul {
	box-shadow: 0 3px 3px rgba(0,0,0,0.2);
	-moz-box-shadow: 0 3px 3px rgba(0,0,0,0.2);
	-webkit-box-shadow: 0 3px 3px rgba(0,0,0,0.2);
	display: none;
	float: left;
	position: absolute;
	top: 2em;
	left: 0;
	z-index: 99999;
}
#access ul ul ul {
	left: 100%;
	top: 0;
}
#access ul ul a {
	background: #dedede;
	line-height: 1em;
	padding: .5em .5em .5em 1em;
	width: 10em;
	height: auto;
}
#access li:hover > a,
#access ul ul :hover > a {
	background: #dedede;
}
#access ul ul a:hover {
	background: #cecece;
}
#access ul li:hover > ul {
	display: block;
}





/* =Content
-------------------------------------------------------------- */

.sticky {
}
.entry-meta {
	clear: both;
	display: block;
}
.single-author .entry-meta .byline {
	display: none;
}
#content nav {
	display: block;
	overflow: hidden;
}
#content nav .nav-previous {
	float: left;
	width: 50%;
}
#content nav .nav-next {
	float: right;
	text-align: right;
	width: 50%;
}
#content #nav-above {
	display: none;
}
.paged #content #nav-above,
.single #content #nav-above {
	display: block;
}
#nav-below {
	margin: 1em 0 0;
}
.page-link {
	clear: both;
	margin: 0 0 1em;
}
.page .edit-link {
	clear: both;
	display: block;
}

/* 404 page */
.error404 .widget {
	float: left;
	width: 33%;
}
.error404 .widget .widgettitle,
.error404 .widget ul {
	margin-right: 1em;
}
.error404 .widget_tag_cloud {
	clear: both;
	float: none;
	width: 100%;
}

/* Notices */
.post .notice,
.error404 #searchform {
	background: #eee;
	display: block;
	padding: 1em;
}

/* Image Attachments */
.image-attachment div.entry-meta {
	float: left;
}
.image-attachment nav {
	float: right;
	margin: 0 0 1em 0;
}
.image-attachment .entry-content {
	clear: both;
}
.image-attachment .entry-content .entry-attachment {
	background: #eee;
	margin: 0 0 1em;
	padding: 1em;
	text-align: center;
}
.image-attachment .entry-content .attachment {
	display: block;
	margin: 0 auto;
	text-align: center;
}

/* Aside Posts */
.format-aside .entry-header {
	display: none;
}
.single .format-aside .entry-header {
	display: block;
}
.format-aside .entry-content,
.format-aside .entry-summary {
	padding-top: 1em;
}
.single .format-aside .entry-content,
.single .format-aside .entry-summary {
	padding-top: 0;
}

/* Gallery Posts */
.format-gallery .gallery-thumb {
	float: left;
	margin: 0 1em 0 0;
}

/* Image Posts */
.format-image .entry-header {
	display: none;
}
.single .format-image .entry-header {
	display: block;
}
.format-image .entry-content,
.format-image .entry-summary {
	padding-top: 1em;
}
.single .format-image .entry-content,
.single .format-image .entry-summary {
	padding-top: 0;
}


/* =Images
-------------------------------------------------------------- */

a img {
	border: none;
}
p img {
	margin-bottom: 0.5em; /* a small bottom margin prevents content floating under images */
}
/*
Resize images to fit the main content area.
- Applies only to images uploaded via WordPress by targeting size-* classes.
- Other images will be left alone. Use "size-auto" class to apply to other images.
*/
img.size-auto,
img.size-full,
img.size-large,
img.size-medium,
.attachment img,
.widget-area img,
.wp-caption {
	max-width: 100%; /* When images are too wide for containing element, force them to fit. */
	height: auto; /* Override height to match resized width for correct aspect ratio. */
}
img.alignleft {
	margin-right: 1em;
}
img.alignright {
	margin-left: 1em;
}
.wp-caption {
	padding: .5em;
	text-align: center;
}
.wp-caption img {
	margin: .25em;
}
.wp-caption .wp-caption-text {
	margin: .5em;
}
.gallery-caption {
}
.wp-smiley {
	margin: 0;
}