
<!DOCTYPE html>
<!--[if IE 6]>
<html id="ie6" lang="en-US" prefix="og: http://ogp.me/ns# fb: http://ogp.me/ns/fb#">
<![endif]-->
<!--[if IE 7]>
<html id="ie7" lang="en-US" prefix="og: http://ogp.me/ns# fb: http://ogp.me/ns/fb#">
<![endif]-->
<!--[if IE 8]>
<html id="ie8" lang="en-US" prefix="og: http://ogp.me/ns# fb: http://ogp.me/ns/fb#">
<![endif]-->
<!--[if !(IE 6) | !(IE 7) | !(IE 8)  ]><!-->
<html lang="en-US" prefix="og: http://ogp.me/ns# fb: http://ogp.me/ns/fb#">
<!--<![endif]-->
<head>

<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>


<title>Juxt</title>
<link rel="stylesheet" type="text/css" media="all" href="{{STATIC_URL}}css/test.css" />
</head>

<body class="home page page-id-8 page-template page-template-index_home-php">



<div id="stuckMenu">
	
	<div class="container">
		
		<div class="logoTop"><a href="#topIntro">juxt</a></div>
		
		<div class="menuTop">
			<a href="#topIntro">back to top</a> 
			<a href="#about">about</a> 
			<a href="#social">social</a> 
			<a href="#blog">blog</a> 
			<a href="#contact">contact</a>
		</div>
	
	</div>
	
</div>

<div id="topIntro">

	<div class="container tall">
	
		<div class="logo fadeIn">
			<img src="/wp-content/themes/toolbox/images/logoSmall.png" />
		</div>
		
		<div class="menu fadeIn">
			<a href="#about">about</a> 
			<a href="#social">social</a> 
			<a href="#blog">blog</a> 
			<a href="#contact">contact</a>
		</div>
		
		<div class="slogan fadeIn">
			<h1>Before and afters in a whole new way.</h1>
			<p>Available now on the App Store</p>
		</div>
		
	</div>

</div>

<div id="about">

	<div class="aboutContent">
	
		<img src="/wp-content/themes/toolbox/images/press.jpg" class="press" alt="Letterpress originated in 1440" />
	
		<h1>Princess of Mars</h1>
		
		<p>"Sarkoja wears it, John Carter," she answered.</p>

<p>I turned without further word and sought out Tars Tarkas, to whom I vehemently objected to the unnecessary humiliations and cruelties, as they seemed to my lover's eyes, that were being heaped upon Dejah Thoris.</p>

<p>"John Carter," he answered, "if ever you and Dejah Thoris escape the Tharks it will be upon this journey.  We know that you will not go without her.  You have shown yourself a mighty fighter, and we do not wish to manacle you, so we hold you both in the easiest way that will yet ensure security.  I have spoken."</p>

<p>I saw the strength of his reasoning at a flash, and knew that it were futile to appeal from his decision, but I asked that the key be taken from Sarkoja and that she be directed to leave the prisoner alone in future.</p>

<p>"This much, Tars Tarkas, you may do for me in return for the friendship that, I must confess, I feel for you."</p>
	
	</div>

</div>

<div id="social">

	<div class="socialLinks">
	
		<h1>Alice in Wonderland</h1>
		
		<p>'I think I should understand that better,' Alice said very politely, 'if  I had it written down: but I can't quite follow it as you say it.'</p>

<p>'That's nothing to what I could say if I chose,' the Duchess replied, in  a pleased tone.</p>

<p>'Pray don't trouble yourself to say it any longer than that,' said  Alice.</p>

<p>'Oh, don't talk about trouble!' said the Duchess. 'I make you a present  of everything I've said as yet.'</p>
	
	</div>

</div>

<div id="blog">

	<div class="container">
	
	
 
    <div class="blogPost">
        <div class="blogDate">Posted on: July 3, 2013</div>
        
        <div class="blogTitle">Blog Pose</div>
        
        <div class="blogContent">
        	<p>But already the sable wing was before the old man's eyes; the long hooked bill at his head: with a scream, the black hawk darted away with his prize.</p>

<p>An eagle flew thrice round Tarquin's head, removing his cap to replace it, and thereupon Tanaquil, his wife, declared that Tarquin would be king of Rome. But only by the replacing of the cap was that omen accounted good. Ahab's hat was never restored; the wild hawk flew on and on with it; far in advance of the prow: and at last disappeared; while from the point of that disappearance, a minute black spot was dimly discerned, falling from that vast height into the sea.</p>

<p>The intense Pequod sailed on; the rolling waves and days went by; the life-buoy-coffin still lightly swung; and another ship, most miserably misnamed the Delight, was descried. As she drew nigh, all eyes were fixed upon her broad beams, called shears, which, in some whaling-ships, cross the quarter-deck at the height of eight or nine feet; serving to carry the spare, unrigged, or disabled boats.</p>

<p>Upon the stranger's shears were beheld the shattered, white ribs, and some few splintered planks, of what had once been a whale-boat; but you now saw through this wreck, as plainly as you see through the peeled, half-unhinged, and bleaching skeleton of a horse.</p>
</div>
        
        <div class="clearBoth"></div>

    </div>

 
    <div class="blogPost">
        <div class="blogDate">Posted on: June 5, 2013</div>
        
        <div class="blogTitle">Blog Pose</div>
        
        <div class="blogContent">
        	<p>But already the sable wing was before the old man's eyes; the long hooked bill at his head: with a scream, the black hawk darted away with his prize.</p>

<p>An eagle flew thrice round Tarquin's head, removing his cap to replace it, and thereupon Tanaquil, his wife, declared that Tarquin would be king of Rome. But only by the replacing of the cap was that omen accounted good. Ahab's hat was never restored; the wild hawk flew on and on with it; far in advance of the prow: and at last disappeared; while from the point of that disappearance, a minute black spot was dimly discerned, falling from that vast height into the sea.</p>

<p>The intense Pequod sailed on; the rolling waves and days went by; the life-buoy-coffin still lightly swung; and another ship, most miserably misnamed the Delight, was descried. As she drew nigh, all eyes were fixed upon her broad beams, called shears, which, in some whaling-ships, cross the quarter-deck at the height of eight or nine feet; serving to carry the spare, unrigged, or disabled boats.</p>

<p>Upon the stranger's shears were beheld the shattered, white ribs, and some few splintered planks, of what had once been a whale-boat; but you now saw through this wreck, as plainly as you see through the peeled, half-unhinged, and bleaching skeleton of a horse.</p>
</div>
        
        <div class="clearBoth"></div>

    </div>


	<div class="clearBoth">
	
	</div>

</div>

<div id="contact">

	<div class="contactBox">
		
		<h1>More stuff</h1>
		
		
	</div>

</div>

<div id="footer">

	<div class="container">
	
		<div class="footLeft">
			<a href="#topIntro">Back to Top</a>
			<a href="#about">About</a>
			<a href="#social">Social</a>
			<a href="#blog">Blog</a>
			<a href="#contact">Contact</a>
		</div>
	
	</div>
	
	<div class="clearBoth"></div>

</div>
		
		




<script type='text/javascript' src='http://www.pulpinkpress.ca/wp-content/plugins/contact-form-7/includes/js/jquery.form.min.js?ver=3.25.0-2013.01.18'></script>
<script type='text/javascript'>
/* <![CDATA[ */
var _wpcf7 = {"loaderUrl":"http:\/\/www.pulpinkpress.ca\/wp-content\/plugins\/contact-form-7\/images\/ajax-loader.gif","sending":"Sending ..."};
/* ]]> */
</script>
<script type='text/javascript' src='http://www.pulpinkpress.ca/wp-content/plugins/contact-form-7/includes/js/scripts.js?ver=3.3.3'></script>

<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-36092469-4', 'pulpinkpress.com');
  ga('send', 'pageview');

</script>


</body>
</html>