<html>

<head>

<link href="{{STATIC_URL}}css/screen.css" media="screen, projection" rel="stylesheet" type="text/css" />
<link href="{{STATIC_URL}}css/print.css" media="print" rel="stylesheet" type="text/css" />
<!--[if IE]>
  <link href="{{STATIC_URL}}css/ie.css" media="screen, projection" rel="stylesheet" type="text/css" />
<![endif]-->
<script src="{{STATIC_URL}}js/dist/scripts.js" type="text/javascript"></script>
</head>

<body>
<div class="container" ratio="{{ pose.ratio }}">
    <div class="details col-group">
        <div class="col col1of4">
            <img class="avatar" src="http://hhhhold.com/88"/>
        </div>
        <div class="col col3of4">
            <h1 class="name">{{pose.name}}</h1>
            <h2 class="date">{{pose.uploaded_date|date:"F j, Y"}}</h2>
            <h3 class="user">by {{pose.user.username}}</h3>
        </div>
    </div>
    <canvas id="c" split="{{ pose.split }}" before="{{pose.before_image_crop.url}}" after="{{pose.after_image_crop.url}}"></canvas>
</div>
</body>

</html>